<div id = "slideshow">
<img src = "/images/slideshow.png"/>
</div>
<div id = "signin">
  <h4>Sign in</h4>
  <%= form_for(:session, :url => sessions_path) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email, :style => "width: 150px;"  %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, :style => "width: 150px;"  %>
    </div>
    <div class="actions">
      <%= f.submit "Sign in" %>
    </div>
  <% end %>

  <p>New user? <%= link_to "Sign up now!", signup_path %><br/>
  <%= link_to 'Forgot Password?', forgot_password_path, :class => 'popup' %></p>

</div>
