<h1>Spendings#edit</h1>
<%= form_for(@spending) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :spending_date %><br />
    <%= f.text_field :spending_date %>
  </div>
  <div class="field">
    <%= f.label :spending_details %><br />
    <%= f.text_field :spending_details %>
  </div>
  <div class="field">
    <%= f.label :spending_amount %><br />
    <%= f.text_field :spending_amount %>
  </div>
  <div class="actions">
    <%= f.submit "commit" %>
  </div>
<% end %>
