<h1>Edit user</h1>
<div>
  <%= gravatar_for @user %>
  <%= link_to "change gravatar", "http://gravatar.com/emails", :target=>"_blank" %> (this will take you to the gravatar site)
</div>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %>:<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>:<br />
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :password %>: - enter your old password, to confirm changes, or a new one to change it.<br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %>: - re-enter the password entered above.<br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :timezone %>:<br />
<%= time_zone_select( "user", "timezone", nil, :include_blank => true) %>
  </div>
  <div class="field"> 
    <%= f.label :daily_bank, "Your Daily Bank" %>:<br />
    <%= f.text_field :daily_bank %>
  </div>
  <div class="field">
    <%= f.label "Your Currency" %><br/>
    <%= f.select :unit, options_for_select(%w{ $ £ KES €}) %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %> <%= link_to "cancel", current_user %>
  </div>
<% end %>

<%= link_to "delete profile", @user, :method => :delete, :confirm => "Are you sure you want to delete your entire profile? This action CANNOT be undone.",
                                    :title => "Delete #{@user.name}" %>

