<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <small>Please enter your old password or a new one to change it.</small>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :timezone %><br />
<%= time_zone_select( "user", "timezone", nil, :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :daily_bank, "Daily Bank" %><br />
    <%= f.text_field :daily_bank %>
  </div>
  <div class="field">
    <%= f.label "Currency" %><br />
    <%= f.select :unit, options_for_select(%w{ $ £ KES}) %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a> (this will take you to the gravatar site)
</div>

