<h1>Sign Up</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= f.hidden_field :invitation_token %>
  <div class="field">
    <%= f.label :name %>:<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>:<br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>:<br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %>:<br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :timezone %>:<br />
<%= time_zone_select( "user", "timezone", nil, :include_blank => true) %><img src="/images/tooltip.png" class = "tooltip" title="The system needs this to run nightly updates."/>
  </div>
  <div class="field">
    <%= f.label "Currency" %> and <%= f.label :daily_bank, "Daily Bank" %>:<br />
    <%= f.select :unit, options_for_select(%w{ $ £ KES}) %> <%= f.text_field :daily_bank %><img src="/images/tooltip.png" class = "tooltip" title="Your daily bank is a cash estimate that you would like not to exceed on a day-to-day basis."/>
  </div>
  <div class="field">
    <%= f.check_box :terms %> Yes, I agree to the tricklesofchange.com <%= link_to "Terms of Use", terms_path %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %> or <%= link_to "Sign in!", signin_path %>
  </div>
<% end %>

