<div class="profile" summary="Profile information">
  <div class="main">
    <div id= "details">
      <div id=gravatar class="summary">
        <h1>
          <%= gravatar_for(@user, options={:size=>75}) %>
          <%= @user.name %>
        </h1>
      </div>
      <div id="profile_summary" class="summary">
        <% if @user.invitation_limit || 0 > 0 %>
          <% if admin? %><strong>Invite a friend: </strong> <%= link_to "#{@user.invitation_limit} invitations left", new_invitation_path %> <br /><% end %>
        <% end %>
        <strong>Daily Bank: </strong> <%= number_to_currency(@user.daily_bank, :unit => @user.unit || "$") %><br />
        <strong>Today's Balance: </strong> <%= number_to_currency(@user.spending_balance || @user.daily_bank, :unit => @user.unit || "$") %><br />
        <strong>Stash: </strong> <%= number_to_currency(@user.stash || 0, :unit => @user.unit || "$") %> <%= link_to "reset", reset_path,:confirm => "This will reset your stash and account accrued amounts to zero. You cannot undo this. Are you sure you want to proceed? ",:title => "reset account?" %>
    </div>
    </div> 
    <div id="thenumbers">
      <ul>
		    <li><a href="#chartdivborder">Chart</a></li>
		    <%= render :partial => "accounts_header" %>
		    <%= render :partial => "spendings_header" %>
	    </ul>
      <%= render :partial => "chart" %>
      <%= render :partial => "accounts_tab" %>
      <%= render :partial => "spendings_tab" %>
    </div>
  </div>
</div>


 

