<div class="profile" summary="Profile information">
  <div class="main">
    <div id= "details">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if @user.invitation_limit || 0 > 0 %>
        <% if admin? %><strong>Invite a friend: </strong> <%= link_to "#{@user.invitation_limit} invitations left", new_invitation_path %> <br /><% end %>
      <% end %>
      
      <strong>Daily Bank: </strong> <%= number_to_currency(@user.daily_bank, :unit => "$") %><br />
      <strong>Today's Balance: </strong> <%= number_to_currency(@user.spending_balance || @user.daily_bank, :unit => "$") %><br />
      <strong>Stash: </strong> <%= number_to_currency(@user.stash || 0, :unit => "$") %><br />
      <%= link_to "edit", edit_user_path(current_user) %> <!--<%= link_to "reset", :confirm => "You sure?" %>-->
    </div> 
    <div id="chartdiv" style="width:710px;"></div>
 
    <div id="thenumbers">
      <ul>
		    <li><a href="#accounts" class = "hdr">Accounts</a><img src="/images/tooltip.png" class = "popup" title="click"  
		    data-header="accounts" data-info="<p>Pick an item you would like to save towards, it may be a pair of jeans, a night out, a concert ticket...etc etc. Each item you choose is an account.</p><ul>Enter the target you would like to save towards. This is normally the cost of the account.</ul><ul>Enter the alloment. This is the percent of your daily unspent, that you would like to donate towards this account</ul><p>That's it!!! Every day, your daily unspent shall be split up between your accounts and you can just sit back and watch your money accrue towards your target!!</p>"/></li>
		    <li><a href="#spendings" class = "hdr">Spendings</a><img src="/images/tooltip.png" class = "popup" title="click"  data-header="spendings" data-info="<p>Enter your spendings; you may itmeize each spending to increase accountablity, or you may simple have one or two entries depicting your days spendings."/></li>
	    </ul>

      <div id = "accounts">       
        <div id="addaccount"><%= link_to "add account", new_account_path %></div>
        <% if !@user.accounts.empty? %>
          <table id = "accountstable">
            <tr class ="header">
              <td>Details</td>
              <td>Target</td>
              <td>Allotment</td>
              <td>Accrued</td>
              <td>Maturity Date</td>
              <td></td>
            </tr>  
            <%= render @accounts %>
          </table>
        <% end %>  
       </div>
    
      <div id = "spendings"> 
        <div id="addspending"><%= link_to "add a spending detail", new_spending_path %></div>
        <% if !@user.spendings.empty? %>
          <table id = "spendingstable">
            <tr class ="header">
              <td>Date</td>
              <td>Details</td>
              <td>Amount</td>
              <td></td>
            </tr>  
            <%= render @spendings %>
          </table>  
        <% end %>
      </div>
    </div>
  </div>
</div>


 <script type="text/javascript" charset="utf-8">  
  $(function () {  
     new Highcharts.Chart({  
       chart: { renderTo: 'chartdiv' },
       title: { text: 'Spending Stats' },  
       xAxis: { type: 'datetime' },  
       yAxis: {  
                title: { text: 'Dollars ($)'}   
       },
       tooltip: {
         formatter: function() {
                   return Highcharts.dateFormat('%A %B %e %Y',this.x) +': '+ '$:'+this.y;
         }
      },
       series: [{  
          name: "Daily Spendings",
          pointInterval: <%= 1.day * 1000 %>,
          pointStart: <%= 1.month.ago.at_midnight.to_i * 1000 %>,
          data: <%= (1.month.ago.to_date..1.days.ago.to_date).map { |date| @user.spending_on(date).to_f}.inspect %>  
        },
        {
        name: "Daily Stash",
          pointInterval: <%= 1.day * 1000 %>,
          pointStart: <%= 1.month.ago.at_midnight.to_i * 1000 %>,
          data: <%= (1.month.ago.to_date..1.days.ago.to_date).map { |date| @user.stash_on(date).to_f}.inspect %>
        }]       
     });  
   });  
  </script> 

