<div class="profile" summary="Profile information">
  <div class="main">
    <div id= "details">
      <div id=gravatar class="summary">
        <h1>
          <%= gravatar_for(@user, options={:size=>75}) %>
          <%= @user.name %>
        </h1>
      </div>
      <%= render :partial => "profile_summary" %>
    </div> 
    <div id="thenumbers">
      <ul>
		    <li><a href="#chartdivborder">Chart</a></li>
		    <%= render :partial => "accounts_header" %>
		    <%= render :partial => "spendings_header" %>
	    </ul>
      <div id="chartdivborder" class="round">
        <%= render :partial => "chart" %>
      </div>
      <%= render :partial => "accounts_tab" %>
      <%= render :partial => "spendings_tab" %>
    </div>
  </div>
</div>


 

