<div class="profile" summary="Profile information">
  <div class="main">
    <div id= "details">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <strong>URL: </strong> <%= link_to user_path(@user), @user %><br />
      <strong>Daily Bank: </strong> <%= number_to_currency(@user.daily_bank, :unit => "$") %><br />
      <strong>Today's Balance: </strong> <%= number_to_currency(@user.spending_balance || @user.daily_bank, :unit => "$") %><br />
      <strong>Stash: </strong> <%= number_to_currency(@user.stash || 0, :unit => "$") %><br />
      <%= link_to "edit", edit_user_path(current_user) %> <%= link_to "reset", :confirm => "You sure?" %>
   </div> 
  <div id="chartdiv"></div>
 

  <div class = "hdr">accounts</div>
    <div id="addaccount"><%= link_to "add account", new_account_path %></div>
        <% if !@user.accounts.empty? %>
        <div id = "accounts">       
          <table id = "accountstable">
            <tr class ="header">
              <td>Details</td>
              <td>Cost</td>
              <td>Allotment</td>
              <td>Accrued</td>
              <td></td>
            </tr>  
            <%= render @accounts %>
        </table>  
      </div>
      <% end %>
    </div> 
  </div>
  <div class = "hdr">spendings</div>
      <div id="addspending"><%= link_to "add a spending detail.", new_spending_path %></div>
      <% if !@user.spendings.empty? %>
        <div id = "spendings"> 
          <table id = "spendingstable">
            <tr class ="header">
              <td>Date</td>
              <td>Details</td>
              <td>Amount</td>
              <td></td>
            </tr>  
            <%= render @spendings %>
          </table>  
        </div>
      <% end %>
  </div> 
</div>
</div>


 <script type="text/javascript" charset="utf-8">  
  $(function () {  
     new Highcharts.Chart({  
       chart: { renderTo: 'chartdiv' },
       title: { text: 'Spending Stats' },  
       xAxis: { type: 'datetime' },  
       yAxis: {  
                title: { text: 'Dollars'}   
       },
       series: [{  
          name: "Daily Spendings",
          pointInterval: <%= 1.day * 1000 %>,
          pointStart: <%= 1.month.ago.at_midnight.to_i * 1000 %>,
          data: <%= (1.month.ago.to_date..Date.today).map { |date| @user.spending_on(date).to_f}.inspect %>  
        },
        {
            name: 'John',
            pointInterval: <%= 1.day * 1000 %>,
            pointStart: <%= 1.month.ago.at_midnight.to_i * 1000 %>,
            data: <%= (1..30).to_a %>
         }]       
     });  
   });  
  </script> 

