<div id = "signupforbeta">
    <h4>Invitation Request</h4>
    <p>We are currently in private BETA, please sign up and we will notify you when we are ready to accept new users.</p>
    <%= form_for(Invitation.new) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <p>
        <%= f.label :recipient_email, "Email address" %>:<br />
        <%= f.text_field :recipient_email %>
        <%= f.submit "Get in line" %></p>
    <% end %>
  </div>
