<h1>Edit an existing account</h1>
<%= form_for(@account) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_field :details %><img src="/images/tooltip.png" class = "tooltip" title='The "cause". What you want to accrue money towards. It could be a concert, a pair of jeans, a bicycle, etc. Use you imagintion to empower your financial means.'/>
  </div>
  <div class="field">
    <%= f.label "cost/target" %><br />
    <%= f.text_field :cost %><img src="/images/tooltip.png" class = "tooltip" title="The cost of the item you wish to buy, or simply the target you want this account to accrue to"/>
  </div>
  <div class="field">
    <%= f.label "allotment (%)" %><br />  
    <%= f.text_field :allotment %><img src="/images/tooltip.png" class = "tooltip" title="The % you would like to contribute to this account per cycle(a cycle is a day)"/>
  </div>
  <div class="actions">
    <%= f.submit "commit" %>
  </div>
<% end %>
