<h1>Add an account</h1>
<%= form_for(@account) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_field :details %><img src="/images/tooltip.png" class = "tooltip" title='The "cause". What you want to accrue money towards. It could be a concert, a pair of jeans, a bicycle, etc. Use you imagintion to empower your financial means.'/>
  </div>
  <div class="field">
    <%= f.label "Target (monetary value)" %><br />
    <%= f.text_field :cost %><img src="/images/tooltip.png" class = "tooltip" title="The cost of the item you wish to spend money on, or simply the target you want this account to accrue to"/>
  </div>
  <div class="field">
    <%= f.label "allotment (%)" %><br />  
    <%= f.text_field :allotment %><img src="/images/tooltip.png" class = "tooltip" title="The % of your daily unspent money that you would like to contribute to this account per cycle (a cycle is a day/24hrs)"/>
  </div>
  <div class="field">
    <%= f.label :maturity_date %><br />  
    <%= f.text_field :maturity_date %><img src="/images/tooltip.png" class = "tooltip" title="The date by which you want to achieve this goal"/>
  </div>
  <div class="actions">
    <%= f.submit "add account" %>
  </div>
<% end %>

